* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}

section:nth-child(2n) {
    background-color: var(--text-color);
    color: var(--white);
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding-top: 3rem;
    min-height: 100vh;
}

img {
    width: 100%;
    object-fit: contain;
}