.main-layout {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width:450px) {
    .main-layout {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:850px) {
    .main-layout {
        padding-left: 80px;
        padding-right: 80px;
    }
}